.container {
    width: 100%;
    height: 300vh;
    margin: 0 auto;
    font-size: 28px;
}

.headerblock {
    height: 10vh;
    text-align: center;
    text-justify: center;
}

.headerblock{
    margin: 2vh 0 2vh 0;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

.quizcontainer{
    height: 70vh;
    width: 100%;
    margin: 0vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionheader{
    margin: 10vh 0 2vh 0;
    height: 5vh;
    width: 20vw;
    font-size: 28px;
    text-align: center;
}

#question{
    font-size: 32px;
}

.quizcontainer{
    height: min-content;
}

.questionheader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 4vh 0;
}

#question{
    margin: 2vh 0;
}

.subrow{
    position: relative;
    margin: 4vh 0;
    display: flex;
    flex-direction: row;
    height: 4vh;
    width: 20vw;
    align-items: end;
    justify-content: space-between;
}

#answer{
    text-transform: capitalize;
    height: 90%;
    width: 75%;
    font-size: 24px;
}

#submit{
    height: 100%;
    width: 20%;
}

#champion-list{
    list-style-type: none;
    position: absolute;
    z-index: 1;
    top: 3.9vh;
    width: 75.8%;
    background-color: rgb(10,28,36);
}

#attempted-champions-list{
    margin: 2vh 0 0 0;
    font-size: 22px;
    list-style-type: none;
}

ul{
    margin: 2vh 0 0 0;
}

li{
    display: flex;
    align-items: center;
    margin: 0 0 1vh 0 ;
    padding: 1vh;
    font-size: 3vh;
}

li img{
    height: 4vh;
    margin: 0 1vw 0 0;
}