.container{
    width: 80%;
    margin: 0 auto;
}

.headerblock{
    height: calc(30px + 10vh);
}

.headerblock h1 {
    font-size: calc(20px + 3vh);
    text-transform: uppercase;
    font-style: oblique;
    padding: 3% 0 1% 0;
}

.headerblock p {
    font-size: 20px;
}


.categoryblocks{
    margin: 2vw 0 0 0;
    display: flex;
    
}

.block{
    margin: 0 2vw 0 0;
    background-color: rgba(20,20,20,.3);
    height: 10vw;
    width: 50%;
}

.block:last-child{
    margin: 0 0 0 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2vw;
    width: 100%;
    margin: 2vw 0;
}

.category{
    background-color: rgba(20,20,20,.3);
    aspect-ratio:calc(1);
    margin: 0 auto;
}

.categoryheading{
    background-color: rgba(20,20,20,.3);
    height: 25%;
}

.categorypicture{
    background-color: rgba(20,20,20,.5);
    height: 75%;
}

/* INDIVIDUAL CATEGORIES */
