.container {
    width: 80%;
    margin: 0 auto;
}

.headerblock {
    height: 14vh;
    margin: 2vh 0 2vh 0;
    text-align: center;
}

.headerblock h1 {
    font-style: italic;
    font-size: 70px;
    text-transform: uppercase;
}

.categoryblocks {
    display: flex;
    flex-direction: column;
}

.categoryblocks a{
    width: 100%;
    display: flex;
}

.block{
    position: relative;
    color: white;
    background-color: rgb(6, 28, 37);
    height: 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    transition: 0.25s;
}
 
#block1{
    margin: 0 0 2vh 0;
}

h2 {
    margin: auto 0 0 0;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin: 0 0 auto 0;
}


/* Fancy Borders */

#block1::before,
#block1::after {
  content: "";
  position: absolute;
  background-color: rgb(150, 150, 150);
}

#block1::before {
  top: -1vh;
  left: .5vw;
  width: 60%;
  height: 1px;
}

#block1::after {
  top: -1vh;
  left: .5vw;
  width: 1px;
  height: 60%;
}

#block2::before,
#block2::after {
  content: "";
  position: absolute;
  background-color: rgb(150, 150, 150);
}

#block2::before {
  bottom: -1vh;
  right: .5vw;
  width: 60%;
  height: 1px;
}

#block2::after {
  bottom: -1vh;
  right: .5vw;
  width: 1px;
  height: 60%;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
    width: 100%;
    margin: 2vw 0;
}

.category {
    background-color: rgb(6, 28, 37);
    aspect-ratio: calc(0.9);
    margin: 0 auto;
    background-size: cover;
    transition: 0.25s;
}

/* HOVER EFFECTS */

.block:hover{
    transform: scale(1.02);
    background-color: rgb(10, 44, 58);
}

.category:hover{
    transform: scale(1.02);
    background-color: rgb(10, 44, 58);
}

.categoryheading {
    font-style: italic;
    font-weight: bold;
    height: 3vw;
    line-height: 3vw;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}

.categorypicture {
    background-color: rgba(20, 20, 20, .5);
    height: 85%;
    background-position: center;
    background-size: cover;
}

/* INDIVIDUAL CATEGORIES */

#block1 {
    background-image: url();

}

#block2 {
    background-image: url();
}

#categorypicture1 {
    background-image: url(pictures/champion-jarvanIV-splash.jpg);
    background-position: right;
}

#categorypicture2 {
    background-image: url(pictures/ionia-lor-14.jpg);
    background-position: center ;
}

#categorypicture3 {
    background-image: url(pictures/runeterra-piltover-01.jpg);
    background-position: center ;
}

#categorypicture4 {
    background-image: url(pictures/2018-poolparty-group-splash.jpg);
    background-position: left;
}

#categorypicture5 {
    background-image: url(pictures/champion-teemo-badger-splash.jpg);
    background-position: right ;
}

#categorypicture6 {
    background-image: url(pictures/runeterra-targon-01.jpg);
    background-position: top right;
}

#categorypicture7 {
    background-image: url(pictures/legacy.jpg);
}

#categorypicture8 {
    background-image: url(pictures/esports-season1-fnatic-splash.jpg);
}