.container {
    width: 80%;
    height: 300vh;
    margin: 0 auto;
}

.headerblock {
    height: 10vh;
    text-align: center;
    text-justify: center;
}

.headerblock{
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

.quizcontainer{
    height: 78vh;
    width: 80%;
    background: linear-gradient(#e66465, #9198e5);
    margin: 1vh auto 0 auto;
}