/* HEADER */

header {
    height: 57vh;
    border-bottom: 1px solid white;
}

.backgroundcontainer {
    background-image: url(gfx/landscape.webp);
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    position: absolute;
    height: inherit;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    width: 85%;
    margin: auto;
    height: 110%;
    top: 7vh;
}

.leftcontent {
    background-color: rgba(0, 10, 20, .5);
    width: 40%;
    height: 56%;
    text-align: center;
    margin: 5% 3% 0 0;
}

.leftcontent img {
    margin: 5% 0 5% 0;
}


.rightcontent {
    background-image: url(gfx/heimerhigh.jpg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
}

.contentoffset {
    position: relative;
    clip-path: polygon(0% 0%, 90% 0%, 100% 20%, 100% 100%, 10% 100%, 0% 80%);
    border: 1px solid rgba(255, 255, 255, 1);
    left: 1%;
    top: -1.5%;
    width: 97.5%;
    height: 102.5%;
}

.imagetitle {
    text-align: center;
    background-color: rgba(0, 10, 20, .5);
    position: absolute;
    height: 25%;
    width: 58.2%;
    bottom: 0;
}

.imagetitle h1 {
    font-size: calc(20px + 3vh);
    text-transform: uppercase;
    font-style: oblique;
    padding: 3% 0 1% 0;
}

.imagetitle p {
    font-size: 18px;
}


/* MAIN */

main {
    height: 300vh;
}

.rowcontainer {
    background: linear-gradient(rgb(210,210,210), white);
    display: flex;
    padding: 20vh 0 0 0;
    height: 10%;
    justify-content: center;
    width: 100%;
}

.smallcontent {
    background-color: white;
    border: 1px solid black;
    height: 80%;
    margin: 0 2.5% 0 2.5%;
    width: 25%;
}