/* HEADER */

header {
    background-position: top;
    height: 57vh;
}

.backgroundcontainer{
    background-image: url(gfx/landscape.webp);
    background-size: cover;
    background-position: center;
    filter: brightness(80%) blur(5px);
    position: absolute;
    height: inherit;
    width: 100%;
}

.container {
    display: flex;
    position: relative;
    width: 85%;
    margin: auto;
    height: 110%;
    top: 7vh;
}

.leftcontent {
    width: 40%;
    height: 100%;
}

.rightcontent {
    background-image: url(gfx/heimerhigh.jpg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
}

.rightcontentoffset {
    position: relative;
    clip-path: polygon(0% 0%, 90% 0%, 100% 20%, 100% 100%, 10% 100%, 0% 80%);
    border: 1px solid rgba(255, 255, 255,.8);
    left: 1%;
    top: -1.5%;
    width: 97.5%;
    height: 102.5%;
    z-index: 99999;
}

/* MAIN */

main {
    height: 300vh;
}

.rowcontainer{
    display: flex;
    background-color: rgba(20,20,20,.3);
    padding: 20vh 0 0 0;
    height: 10%;
    justify-content: center;
    width: 100%;
}

.smallcontent{
    background-color: rgba(255,255,255,.5);
    height: 80%;
    margin: 0 2.5% 0 2.5%;
    width: 25%;
}