.container {
    width: 100%;
    height: 300vh;
    margin: 0 auto;
}

.headerblock {
    height: 10vh;
    text-align: center;
    text-justify: center;
}

.headerblock{
    margin: 2vh 0 0 0;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
}

.quizcontainer{
    height: 70vh;
    width: 100%;
    margin: 0vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    text-transform: capitalize;
}