* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

body.dark-mode {
    color: white;
}


a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

nav {
    background-color: rgba(20, 20, 20, 1);
    height: calc(40px + 3vh);
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;

    /* Font */
    color: rgba(255, 255, 255, 1);
    font-family: "FF Mark W05", Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;

}

.navleft {
    width: 50%;
    display: flex;
    align-items: center;
}

.navleft a {
    margin: 0 0 0 3vw;
}

.navright {
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0 0 0 auto;
    width: 20%;
    display: flex;
    justify-content: end;
}

.language-dropdown {
    position: relative;
    display: inline-block;
    margin: 0 2vw 0 0;
    z-index: 1;
    text-align: center;
    /* Center the text horizontally */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    left: 50%;
    /* Position the menu at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center the menu */
    z-index: 2;
}

.dropdown-content a {
    display: block;
    padding: 4px 8px;
    color: black;
}

.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
}

.language-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


#bug-report{
    margin: 0 2vw 0 0;
}

.navright span {
    margin: 0 2vw 0 0;
}

/*
https://www.flaticon.com/free-icon/brightness_6714944?related_id=6714944&origin=pack
https://www.flaticon.com/free-icon/dark-mode_6714978?related_id=6714978&origin=pack
https://www.flaticon.com/free-icon/earth_8567303?term=globe&page=2&position=11&origin=search&related_id=8567303
https://www.flaticon.com/free-icon/bug_25646?term=bug&page=1&position=10&origin=search&related_id=25646
*/
.navright img {
    height: 26px;
}

.navright span img {
    height: 30px;
    cursor: pointer;
}

footer {
    background-color: rgba(20, 20, 20, 1);
    height: 5vh;
}