* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(255, 255, 255, 1);
    height: calc(40px + 4vh);
    position: sticky;
    top: 0;
    display: flex;
}

.navleft{
    background-color: rgba(200,200,200,1);
    width: 50%;
}

.navright{
    position: relative;
    margin: 0 0 0 auto;
    background-color: rgba(200,200,200,1);
    width: 20%;
}

footer{
    background-color: rgba(20,20,20,1);
    height: 5vh;
}