<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

</head>
<body>
    <header>
        <nav>
            <div class="navleft">
                <a href="../html/index.html">
                    <div>Home</div>
                </a>
                <a href="#">
                    <div>News</div>
                </a>
                <a href="../html/categories.html">
                    <div>Categories</div>
                </a>
                <a href="../html/dailyquiz.html">
                    <div>Daily Quiz</div>
                </a>
                <a href="#">
                    <div>About</div>
                </a>
            </div>
            <div class="navright">
                <div class="language-dropdown">
                    <button class="dropdown-button"><img src="../icons/header-icons/earth.png" alt="Languages"></button>
                    <div class="dropdown-content">
                        <a href="#">English</a>
                    </div>
                </div>
                <span id="mode-toggle" onclick="toggleLightMode()">
                    <img src="../icons/header-icons/sun.png" alt="Dark Mode" id="mode-icon">
                </span>
                <a href="#"><img src="../icons/header-icons/bug.png" alt="Bug" id="bug-report"></a>
            </div>
            </div>
        </nav>
    </header>
</body>
</html>