* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'BeaufortforLOL';
    color: white;
    background-color: rgb(0,10,20);
}

.light-mode {
    color: black;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

header{
    height: 8vh;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    background-color: rgba(20, 20, 20, 1);
    height: 8vh;
    display: flex;

    /* Font */
    color: rgba(255, 255, 255, 1);
    font-family: "FF Mark W05", Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.navleft {
    width: 50%;
    display: flex;
    align-items: center;
}

.navleft a {
    margin: 0 0 0 3vw;
}

.navright {
    align-items: center;
    height: 100%;
    position: relative;
    margin: 0 0 0 auto;
    width: 20%;
    display: flex;
    justify-content: flex-end; /* Updated value */
}

.language-dropdown {
    position: relative;
    display: inline-block;
    margin: 0 2vw 0 0;
    z-index: 1;
    text-align: center;
    /* Center the text horizontally */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(20, 20, 20, .5);
    left: 50%;
    /* Position the menu at the horizontal center */
    transform: translateX(-50%);
    /* Adjust to center the menu */
    flex-direction: column;
    /* Display items in a column */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
}

.dropdown-content a {
    display: block;
    padding: 4px 8px;
    color: white;
    font-weight: normal;
}

.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
}

.language-dropdown:hover .dropdown-content {
    display: flex;
}

#bug-report {
    margin: 0 2vw 0 0;
}

.navright span {
    margin: 0 2vw 0 0;
}

/*
https://www.flaticon.com/free-icon/brightness_6714944?related_id=6714944&origin=pack
https://www.flaticon.com/free-icon/dark-mode_6714978?related_id=6714978&origin=pack
https://www.flaticon.com/free-icon/earth_8567303?term=globe&page=2&position=11&origin=search&related_id=8567303
https://www.flaticon.com/free-icon/bug_25646?term=bug&page=1&position=10&origin=search&related_id=25646
https://www.flaticon.com/free-icon/mute_6946616?related_id=6946616&origin=pack
https://www.flaticon.com/free-icon/sound_6946622?related_id=6946622&origin=pack
https://www.flaticon.com/free-icon/slash_7625525?related_id=7625525&origin=pack
https://www.flaticon.com/free-icon/music_7625519?related_id=7625519&origin=pack
*/
.navright img {
    height: 24px;
}

.navright span img {
    height: 30px;
    cursor: pointer;
}

#muteEffectsButton img {
    height: 24px;
}

#muteMusicButton img {
    height: 24px;
}

footer {
    background-color: rgba(20, 20, 20, 1);
    height: 5vh;
}